.cost {
    display: flex;
    .homeContainer{
        flex: 6;      
    }
    .rowContainer{
        display: flex;
        flex-direction: row;
        height: 90%;
        .container{    
            flex: 3;        
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            padding: 10px;
            margin: 15px; 
            justify-content: center;
            height:auto;
            .costViewer{
                // display: flex;
                // max-content;
                height: 950px;
                justify-content: center;
                
            } 
        }
        .containerTable{
            flex: 3;        
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            padding: 10px;
            margin: 15px;  
        }
        // .viewercontainer{
        //     flex: 3;
        //     -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        //     box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        //     border-radius: 10px;  
        //     height:86%; 
        //     padding: 10px;
        //     margin: 15px;
                
        // }
    }    
}